---
import Layout from '@layouts/Neovim.astro';
---

<Layout title="Ayuda">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-8 text-blue">Ayuda</h1>
    <div class="text-center">
      <p class="mb-4">versión 0.0.1</p>
      <div class="flex flex-col text-left justify-left p-10">
        <p class="p-4">
          Esta página contiene instrucciones básicas para utilizarla. Algunas combinaciones de teclas tipo Vim están habilitadas y pueden usarse dentro de la misma página, pero no todas funcionan en todas las secciones.
        </p>

        <h2 class="p-4 text-2xl font-bold text-blue">Instrucciones</h2>
        <p class="ml-4"><a class="font-bold">u</a>: Deshacer el último cambio, en este caso, navega hacia atrás.</p>
        <p class="ml-4"><a class="font-bold">j</a>: Mueve el cursor una línea hacia abajo.</p>
        <p class="ml-4"><a class="font-bold">k</a>: Mueve el cursor una línea hacia arriba.</p>
        <p class="ml-4"><a class="font-bold">g</a>: Mueve el cursor a la primera línea del archivo, en este caso, de la página.</p>
        <p class="ml-4"><a class="font-bold">G</a>: Mueve el cursor a la última línea del archivo, en este caso, de la página.</p>
      </div>
    </div>
  </div>
</Layout>
