<div id="key-bindings" class="fixed bottom-10 right-4 bg-gray-800 border border-green-400 p-4 rounded hidden">
  <h3 class="text-lg font-bold mb-2">Combinaciones de teclas</h3>
  <ul>
    <li><kbd>j</kbd> / <kbd>k</kbd>: Navegar hacia abajo/arriba</li>
    <li><kbd>u</kbd>: Volver atrás</li>
    <li><kbd>g</kbd>: Ir al principio</li>
    <li><kbd>G</kbd>: Ir al final</li>
    <li><kbd>/</kbd>: Enfocar búsqueda</li>
    <li><kbd>:</kbd><span class="text-blue">&lt;comando&gt;</span> : Navegar a <span class="text-blue">&lt;comando&gt;</span></li>
    <li><kbd>Esc</kbd>: Limpiar búsqueda / Salir</li>
  </ul>
</div>
